.calendar {
  padding: 30px 30px 100px 30px;
}

.calendar h4 {
  margin: 0;
  width: 100%;
  padding-top: 15px;
}

.calendar-inputs {
  border: 1px #dddddd solid;
  max-width: 320px;
  margin: 20px;
}

.calendar-input-header-row {
  min-width: 300px;
  max-width: 320px;
  margin-bottom: 5px;
}

.calendar-input-row {
  min-width: 300px;
  max-width: 320px;
  padding-bottom: 20px;
  border-bottom: 1px #dddddd solid;
}

.calendar-legend-row {
  padding: 20px;
}

.calendar-legend-row strong {
  font-size: 16px;
}

.calendar-legend-row .col-xs.day {
  flex-basis: 28.5714285714%;
  max-width: 28.5714285714%;
  width: 28.5714285714%;
  margin-bottom: 10px;
}

.day-divider {
  padding-top: 3px;
  font-size: 30px;
}
